@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 16px;
  color: rgb(68, 68, 68);
  font-family: "Heebo", sans-serif;
}
.app__main_container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100vw;
  height: 100vh;
  background: rgb(255, 255, 255);
}
.current__data_container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: auto;
}
.search__box {
  display: flex;
  width: 100%;
  height: 10vh;
  position: relative;
  top: 0.5rem;
  align-items: center;
  justify-items: center;
}
.search__logo {
  margin: auto;
  margin-right: 0.4rem;
  font-size: 1.2rem;
}
.search__bar {
  background: rgb(250, 250, 255);
  width: 80%;
  height: 2rem;
  border: none;
  border-radius: 5px;
  margin: auto;
  padding-left: 0.5rem;
  font-size: 1rem;
}
.location__logo {
  margin: auto;
  margin-left: 0.4rem;
  font-size: 1.2rem;
}
.current__weather_image {
  width: 100%;
  height: 30vh;
  margin: auto;
  display: grid;
  place-items: center;
}
.current_temperature {
  width: 80%;
  height: 35vh;
  margin: auto;
  padding-left: 0.5rem;
}
.curr_temp_deg {
  font-size: 5rem;
  padding-bottom: 1rem;
}
.date_day_time {
  width: 80%;
  height: 15vh;
  margin: auto;
  padding-left: 0.5rem;
}
.current_city {
  width: 80%;
  height: 10vh;
  margin: auto;
  padding-left: 0.5rem;
}
.data__text {
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  padding-bottom: 0.4rem;
}
.additional__data__container {
  background: rgb(250, 250, 255);
  height: 100vh;
  display: grid;
  grid-template-rows: 2fr 3fr;
}
.forecast__hours-days {
  /* background-color: rgba(0, 0, 0, 0.1); */
  display: grid;
  grid-template-rows: 10vh auto;
}
.switch__box {
  /* background-color: rgba(0, 0, 0, 0.1); */
  width: 100%;
}
.forecast__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
}
.forecast__box {
  background-color: rgb(255, 255, 255);
  width: 85%;
  margin: 1rem auto;
  border-radius: 1rem;
}
.today__highlights {
  display: grid;
  padding-left: 1rem;
  grid-row: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.today__box {
  background-color: rgb(255, 255, 255);
  height: 25vh;
  width: 90%;
  border-radius: 1rem;
  margin: auto;
  display: grid;
  grid-template-rows: 2fr 3fr;
}
.today__box__title {
  text-transform: capitalize;
  margin-left: 3rem;
  letter-spacing: 0.15rem;
  padding-top: 1rem;
}
.today__box__info {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  height: 3rem;
}

.today__box-img {
  height: 2rem;
  margin-right: 2rem;
}
