* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 16px;
}
.app__main_container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100vw;
  height: 100vh;
  background: rgb(255, 255, 255);
}
.current__data_container {
  /* background: rgba(0, 0, 0, 0.1); */

  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: auto;
}
.search__box {
  /* background-color: rgba(0, 0, 0, 0.3); */
  display: flex;
  width: 100%;
  height: 3rem;
  position: relative;
  top: 0.5rem;
  align-items: center;
}
.search__logo {
  margin: auto;
  margin-right: 0.4rem;
  font-size: 1.2rem;
}
.search__bar {
  background: rgb(250, 250, 250);
  width: 80%;
  height: 2rem;
  border: none;
  border-radius: 5px;
  margin: auto;
  padding-left: 0.5rem;
  font-size: 1rem;
}
.location__logo {
  margin: auto;
  margin-left: 0.4rem;
  font-size: 1.2rem;
}
.current__weather_image {
  /* background-color: rgba(0, 0, 0, 0.1); */
  width: 100%;
  height: 30vh;
  margin: auto;
  margin-top: ;
  display: grid;
  place-items: center;
}
.main__temp {
  width: 50%;
  margin: auto;
}

.current_temperature {
  /* background-color: rgba(0, 0, 0, 0.2); */
  width: 100%;
  height: 20vh;
  margin: auto;
  padding-left: 2rem;
}
.date_day_time {
  width: 100%;
  height: 20vh;
  padding-left: 2rem;
}
.current_city {
  /* background-color: rgba(0, 0, 0, 0.1); */
  width: 100%;
  height: 20vh;
  padding-left: 2rem;
}
.data__text {
  text-transform: capitalize;
}
.additional__data__container {
  background: rgb(250, 250, 250);
}
