* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 16px;
}
.app__main_container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100vw;
  height: 100vh;
  background: rgb(255, 255, 255);
}
.current__data_container {
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.search__box {
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  width: 100%;
  height: 3rem;
  position: relative;
  top: 0.5rem;
}
.search__bar {
  width: 80%;
  margin: auto;
}
.search__logo {
  margin: auto;
}
